*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin: 0 60px;
}   
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-media{
        display: flex;
        gap: 20px;
        a{
            img{
                width: 25px;
            }
        }
    }
    .header-navbar{
        display: flex;
        gap: 20px;
        a{
            img{
                width: 25px;
            }
        }
    }
}
nav{
    display: flex;
    justify-content: center;
    a{
        padding: 20px 40px;
        text-decoration: none;
        color: black;
    }
    a:hover{
        border-bottom: 1px solid black;
    }
}

.products{
    .filter{
        text-align: right;
        padding: 10px 0;
        button{
            background: none;
            border: 0;
            cursor: pointer;
        }
    }
    margin: 0;
    ul{
        padding: 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style-type: none;
            p{
                text-align: center;
            }
            img{
                height: 400px;
                width: 400px;
                overflow: hidden;
                object-fit: cover;
            }
        }
    }
}
.loading{
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    img{
        width: 40px;
    }
}
.productDetails{
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    .view{
        img{
            height: 700px;
            width: 700px;
            overflow: hidden;
            object-fit: cover;
        }
    }
    .information{
        width: 45%;
        button{
            padding: 15px 200px;
            border: 0;
            font-size: 16px;
            background-color: aquamarine;
            cursor: pointer;
            border-radius: 50px;
        }
        p{
            font-size: 20px;
            padding: 20px 0;
        }
        h1{
            font-weight: 100;
            padding: 20px 0;
        }
        .description{
            ul{
                padding: 20px 0;
                display: flex;
                align-items: center;
                li{
                    font-size: 14px;
                    padding: 10px 20px;
                    list-style-type: none;
                    cursor: pointer;
                }
                li:hover{
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}
.panel{
    display: flex;
    .menu{
        width: 40%;
        text-align: end;
        ul{
            border-right: 1px solid black;
            list-style-type: none;
            li{
                padding: 10px;
                margin: 10px;
                cursor: pointer;
            }
        }
    }
    .view{
        width: 60%;
        text-align: start;
        padding: 20px 50px;
        p{
            font-size: 20px;
            padding: 5px;
        }
    }
}   
.formLogin{
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    input{
        width: 300px;
        height: 30px;
        font-size: 20px;
        background-color: white;
        border-radius: 10px;
        display: block;
        margin: 20px auto;
        border: 1px solid green;
        padding: 10px;
    }
    button{
        margin: 20px;
        height: 40px;
        width: 320px;
        border-radius: 10px;
        border: 1px solid green;
        font-size: 20px;
        cursor: pointer;
        background: rgb(121, 227, 121);
    }
    h6{
        font-size: 15px;
    }
    a{
        color: rgb(13, 125, 13);;
    }
}
.registration{
    text-align: center;
    font-size: 30px;
    p{
        padding-bottom: 20px;
    }
    .error{
            width: 20%; 
            color: black;
            background-color: rgb(244, 179, 179);
            margin: 0 auto;  
            border: 1px solid red;
            border-radius: 10px;
            padding: 20px;
            font-size: 15px;
            p{
                padding: 0;
            }
    }
    form{
        font-size: 30px;
        text-align: center;
        input{
            width: 300px;
            height: 20px;
            font-size: 20px;
            background-color: white;
            border-radius: 10px;
            display: block;
            margin: 20px auto;
            border: 1px solid green;
            padding: 10px;
        }
        button{
            height: 40px;
            width: 320px;
            border-radius: 10px;
            border: 1px solid green;
            font-size: 20px;
            cursor: pointer;
            background: rgb(121, 227, 121);
        }
        h6{
            padding: 20px;
            font-size: 15px;
        }
        a{
            color: rgb(13, 125, 13);;
        }
    }
}
.cart{
    padding: 50px 0;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    ul{
        padding: 0;
        width: 60%;
        li{
            margin: 10px 0;
            padding: 10px;
            border: 1px solid green;
            display: flex;
            justify-content: space-between  ;
            align-items: center;
            img{
                height: 100px;
                width: 100px;
                overflow: hidden;
                object-fit: cover;
            }
            p{
                font-size: 20px;
            }
            .counters{
                display: flex;
                align-items: center;
            }
            button{
                margin: 10px;
                width: 30px;
                height: 30px;
                border: none;
                cursor: pointer;
                font-size: 20px;
                background-color: white;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .shipment{
        margin: 10px;
        border: 1px solid rgb(13, 125, 13);;
        width: 35%;
        height: 300px;
        p:first-child{
            font-size: 30px;
            text-align: center;
            margin: 20px 0;
        }
        p{
            margin: 10px 50px;
            font-size: 20px;
        }
        p:last-child{
            margin: 20px 50px;
            font-size: 30px;    
        }
        a{
            display: block;
            margin: 15px 50px;
            padding: 10px 20px;
            border: none;
            background-color: rgb(121, 227, 121);
            border-radius: 30px;
            text-align: center;
            color: black;
            text-decoration:none;
        }
        a:last-child{
            background: none;
            border: 1px solid rgb(121, 227, 121);
        }
    }
}