*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin: 0 60px;
}   
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-media{
        display: flex;
        gap: 20px;
        a{
            img{
                width: 25px;
            }
        }
    }
    .header-navbar{
        display: flex;
        gap: 20px;
        a{
            img{
                width: 25px;
            }
        }
    }
}
nav{
    display: flex;
    justify-content: center;
    a{
        padding: 20px 40px;
        text-decoration: none;
        color: black;
    }
    a:hover{
        border-bottom: 1px solid black;
    }
}